
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.egg-info/
*.egg
.vscode/
*.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/

# Data and results
/data/*
!/data/.gitkeep
/results/*
!/results/.gitkeep
*.zip

# OS files
.DS_Store
Thumbs.db
